In [10]:
import pandas as pd
df = pd.read_csv('test_data.csv')
df.fillna(0, inplace=True)
selected_numerical_variables =['W37 2023', 'W38 2023' ,'W39 2023', 'W40 2023']
selected_categorical_variables =['Location ID',   'Product ID' , 'Customer ID'  ]
dfg = df.groupby(selected_categorical_variables)[selected_numerical_variables].sum().reset_index()
dfg.info(), dfg.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8657 entries, 0 to 8656
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location ID  8657 non-null   int64
 1   Product ID   8657 non-null   object
 2   Customer ID  8657 non-null   int64
 3   W37 2023     8657 non-null   object
 4   W38 2023     8657 non-null   object
 5   W39 2023     8657 non-null   object
 6   W40 2023     8657 non-null   object
dtypes: int64(2), object(5)
memory usage: 473.6+ KB

(None, (8657, 7))

In [11]:
for col in selected_numerical_variables:
    if dfg[col].dtype != 'object':
        dfg[col] = pd.to_numeric(dfg[col].astype(str).str.replace(',', ''), errors='coerce')
    else:
        dfg[col] = pd.to_numeric(dfg[col].str.replace(',', ''), errors='coerce')
for col in selected_categorical_variables:
    dfg[col] = dfg[col].astype('category')
print(dfg.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8657 entries, 0 to 8656
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location ID  8657 non-null   category
 1   Product ID   8657 non-null   category
 2   Customer ID  8657 non-null   category
 3   W37 2023     8389 non-null   float64
 4   W38 2023     8389 non-null   float64
 5   W39 2023     8411 non-null   float64
 6   W40 2023     8411 non-null   float64
dtypes: category(3), float64(4)
memory usage: 646.5 KB
None

In [9]:
num =['W37 2023', 'W38 2023' ,'W39 2023', 'W40 2023']
cat =['Location ID',   'Product ID']
dfg_1 = df.groupby(cat)[num].sum().reset_index()
dfg_1.info(), dfg_1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7175 entries, 0 to 7174
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location ID  7175 non-null   int64
 1   Product ID   7175 non-null   object
dtypes: int64(1), object(1)
memory usage: 112.2+ KB

C:\Users\HuijinYu\AppData\Local\Temp\ipykernel_12780\4270813265.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfg_1 = df.groupby(cat)[num].sum().reset_index()

(None, (7175, 2))

In [8]:
print(dfg_1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7175 entries, 0 to 7174
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location ID  7175 non-null   int64
 1   Product ID   7175 non-null   object
dtypes: int64(1), object(1)
memory usage: 112.2+ KB
None

In [14]:
selected_categorical_columns = ['Location ID', 'Product ID']
aggregated_df = df.groupby(selected_categorical_columns).agg('sum').reset_index()
aggregated_df

C:\Users\HuijinYu\AppData\Local\Temp\ipykernel_12780\3616267787.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  aggregated_df = df.groupby(selected_categorical_columns).agg('sum').reset_index()

      Location ID    Product ID  Customer ID
0            8310  10000013044V       104841
1            8310  10000013055V       503572
2            8310  10000013056V       401500
3            8310  10000013067V       100956
4            8310   10000013302       102265
...           ...           ...          ...
7170         8310    140043402V       100072
7171         8310    140043403V       100072
7172         8310    140043415V       100072
7173         8310    140043501V       201432
7174         8310    140044101V       100072

[7175 rows x 3 columns]

In [15]:
print(aggregated_df.info())
aggregated_df.info(), aggregated_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7175 entries, 0 to 7174
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location ID  7175 non-null   int64
 1   Product ID   7175 non-null   object
 2   Customer ID  7175 non-null   int64
dtypes: int64(2), object(1)
memory usage: 168.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7175 entries, 0 to 7174
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location ID  7175 non-null   int64
 1   Product ID   7175 non-null   object
 2   Customer ID  7175 non-null   int64
dtypes: int64(2), object(1)
memory usage: 168.3+ KB

(None, (7175, 3))